body {
    background-color: white;
    color: black;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

.loginbox {
    width: 300px;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    /*background: white;*/
    text-align: center;
}

input {
    box-sizing: border-box;
    border: solid 1px;
    display: block;
    font: inherit;
    border-radius: 5px;
    height: 50px;
    padding: 14px;
    width: 100%;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
    font: inherit;
    border-radius: 5px;
    min-width: 120px;
    margin: 3px;
    height: 40px;
}

button:hover {
    font-weight: bold;
}


h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 60px 10px;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px 0;
}

.todolist {
    background: antiquewhite;
    padding: 60px;
    position: absolute;
    left: 60px;
    right: 60px;
    top: 110px;
    bottom: 30px;
    text-align: center;
}