/* ----------- general container ----------- */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 3fr 0.2fr;
    grid-template-areas:
            "nav nav nav"
            "headbox headbox headbox"
            "main main main"
            "footer footer footer";
}

/* ----------- body ----------- */
body {
    background-color: white;
    color: black;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

/* ----------- nav ----------- */
nav {
    /*background: cornsilk;*/
    grid-area: nav;
}


/* ----------- headbox ----------- */
.headbox {
    /*background: burlywood;*/
    grid-area: headbox;
}

.headtext {
    text-align: center;
    font-size: 1.3em;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}


/* ----------- main ----------- */
main {
    /*background: antiquewhite;*/
    grid-area: main;
}


/* ----------- footer ----------- */
footer {
    /*background: aquamarine;*/
    grid-area: footer;
}


/* ----------- title fonts ----------- */
h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 30px 10px 40px 10px;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px 0;
}


/* ----------- general buttons ----------- */
button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
    font: inherit;
    border-radius: 6px;
    min-width: 120px;
    height: 40px;
}

button:hover {
    font-weight: bold;
}


/* ----------- login box ----------- */
.loginbox {
    width: 300px;
    /*padding: 40px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    /*background: aquamarine;*/
    text-align: center;
}

.loginbox input {
    box-sizing: border-box;
    border: solid 1px;
    color: black;
    display: flex;
    justify-content: center;
    font: inherit;
    border-radius: 6px;
    height: 50px;
    padding: 14px;
    margin: 20px 0;
    width: 100%;
}

.loginbox button {
    width: 100%;
    margin: 20px 0;
}

.loginbox p {
    font-size: 0.75em;
    color: #555555;
    padding: 0;
    margin: 30px 0 5px 0;
}

.loginbox a {
    color: black;
    font-size: 0.9em;
}

.loginbox a:hover {
    font-weight: bold;
}


/* ----------- todolist box ----------- */
.todolistBox {
    /*background-color: #555555;*/
    width: 80%;
    max-width: 1500px;
    margin: auto;
}


/* ----- edit menu ----- */
.editMenu {
    display: flex;
    justify-content: flex-end;
    /*gap: 5px;*/
}

.editMenu .categories {
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 6px;
    min-width: 120px;
    height: 40px;
    font: inherit;
    text-align: center;

}


/* ----- list of todos ----- */
.todolist {
    display: flex;
    justify-content: center;
    /*background-color: blueviolet;*/
}

.todolist table {
    color: black;
    /*border-collapse: collapse;*/
    margin: 25px 0;
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
    text-align: left;
    box-shadow: #555555;
}

.todolist th {
    color: #555555;
    font-size: 0.9em;
    padding: 0 25px;
}

.todolist td {
    background: white;
    font-size: 1.2em;
    padding: 17px 25px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    /*border-left: 1px solid red;*/
}

.todolist td:last-child {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid black;
}

.todolist td:first-child {
    border-radius: 6px 0 0 6px;
    border-left: 1px solid black;
}

.todolist .center {
    text-align: center;
}

#th-title{
    column-width: 400px;
}

/* ----------- checkbox in todos ----------- */
.todolist .checkbox {
    /*zoom: 0.5;*/
    text-align: left;
    margin: 0 0 0 30px;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    height: 2.3em;
    width: 2.3em;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]:after {
    font-family: "Font Awesome 5 Free";
    Font-weight: 900;
    content: "\f00c";
    font-size: 1.45em;
    color: black;
    display: none;
}

input[type=checkbox]:hover {
    /*background-color: #888888;*/
}

input[type=checkbox]:checked {
    background-color: white;
}

input[type=checkbox]:checked:after {
    display: block;
}


/* ----------- responsive ----------- */
@media(max-width: 500px) {
    .todolist th {
        display: none;
    }


    button {
        font-family: "Font Awesome 5 Free";
        zoom: 0.5;
    }


}


/*.todolist {*/
/*    background: antiquewhite;*/
/*    padding: 60px;*/
/*    position: absolute;*/
/*    left: 60px;*/
/*    right: 60px;*/
/*    top: 110px;*/
/*    bottom: 30px;*/
/*    text-align: center;*/
/*}*/